<form action="" method="get">

    <div class="container">
        <label for="city">Select Countries :</label>
        <!-- <select name="countries" id="countries" multiple>
            <option value="1">India</option>
            <option value="2">Afghanistan</option>
            <option value="3">Australia</option>
            <option value="4">Germany</option>
            <option value="5">Canada</option>
            <option value="6">Russia</option>
            <option value="7">USA</option>
            <option value="8">Argentina</option>
            <option value="9">Belgium</option>
            <option value="10">Brazil</option>
            <option value="11">Egypt</option>
            <option value="12">France</option>
            <option value="13">Iceland</option>
            <option value="14">Kenya</option>
            <option value="15">Maldives</option>
            <option value="16">Mexico</option>
            <option value="17">Namibia</option>
            <option value="18">North Korea</option>
            <option value="19">Thailand</option>
            <option value="20">Ukraine</option>
            <option value="21">Zimbabwe</option>
        </select> -->

    </div>
</form>
