<div class="table-base">
  <!-- <template class="table-temp"> -->
  <table class="skeleton-container">
    <!-- <progress id="file" max="100" value="70">70%</progress> -->
    <div class="progress-container">
      <div class="progress-bar"></div>
    </div>

    <thead>
      <tr>
        <th><div class="skeleton"></div></th>
        <th><div class="skeleton"></div></th>
        <th><div class="skeleton"></div></th>
        <th><div class="skeleton"></div></th>
        <th><div class="skeleton"></div></th>
      </tr>
    </thead>
    <tbody class="skeleton-tbody">
      <tr>
        <td><div class="skeleton"></div></td>
        <td><div class="skeleton"></div></td>
        <td><div class="skeleton"></div></td>
        <td><div class="skeleton"></div></td>
        <td><div class="skeleton"></div></td>
      </tr>
      <tr>
        <td><div class="skeleton"></div></td>
        <td><div class="skeleton"></div></td>
        <td><div class="skeleton"></div></td>
        <td><div class="skeleton"></div></td>
        <td><div class="skeleton"></div></td>
      </tr>
      <tr>
        <td><div class="skeleton"></div></td>
        <td><div class="skeleton"></div></td>
        <td><div class="skeleton"></div></td>
        <td><div class="skeleton"></div></td>
        <td><div class="skeleton"></div></td>
      </tr>
      <tr>
        <td><div class="skeleton"></div></td>
        <td><div class="skeleton"></div></td>
        <td><div class="skeleton"></div></td>
        <td><div class="skeleton"></div></td>
        <td><div class="skeleton"></div></td>
      </tr>
      <tr>
        <td><div class="skeleton"></div></td>
        <td><div class="skeleton"></div></td>
        <td><div class="skeleton"></div></td>
        <td><div class="skeleton"></div></td>
        <td><div class="skeleton"></div></td>
      </tr>
    </tbody>
  </table>
  <!-- </template> -->

  <!-- <div class="tbl-footer"></div> -->
</div>
