
.outer-container{
    display: inline-block;
    width:45px;
    height: 25px;
    border-radius: 20px;
    background-color: #f5f5f5;
    border:1px solid rgba(12,1,33,.15);
    position: relative;
    -webkit-transition: .4s;
    transition: .4s;
}
.switch-checkbox{
    opacity: 0;
}

.switch-roller{
  position: absolute;
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: #e5eafe;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switch-roller{
  background-color: #133467;
}
input:checked +  .switch-roller { 
  transform: translateX(19px);
}