<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>

<div class="outer_container">
  <div class="selected_input_bar">
    <input type="text" value="-- Select your options --" readonly id="value" />
    <span class="material-symbols-outlined"> arrow_drop_down </span>
  </div>
  <div class="options_container">
    <div class="search_bar_container">
      <span class="material-symbols-outlined"> search </span>
      <input
        class="seach_input"
        type="text"
        placeholder="Type anything to search"
      />
    </div>
    <ul class="options_list"></ul>
  </div>
</div>
