<div id="container">
  <div id="header">
    <div id="monthDisplay"></div>
    <div>
      <button id="backButton">Prev</button>
      <button id="nextButton">Next</button>
    </div>
  </div>

  <div id="weekdays">
    <div>S</div>
    <div>M</div>
    <div>T</div>
    <div>W</div>
    <div>T</div>
    <div>F</div>
    <div>S</div>
  </div>

  <div id="calendar"></div>
</div>

<div id="addingAnEvent">
  <h2>New Event</h2>

  <input id="eventTitleInput" placeholder="Add an Event" />

  <button id="saveButton">Save</button>
  <button id="cancelButton">Cancel</button>
</div>

<div id="deletingAnEvent">
  <h2>Event</h2>

  <p id="eventText"></p>

  <button id="deleteButton">Delete</button>
  <button id="closeButton">Exit</button>
</div>

<div id="modalBackDrop"></div>

<!--<div class="list">
  <ul class="displaytask">
    
  </ul>
  <p class="eventlist"></p>
</div>-->
