.chipscontainer{
  display: flex;

  p{
    display: flex;
    margin: 0.1rem;
    background-color: rgb(19, 52, 103);
    color: white;
    border: 2px solid rgb(19, 52, 103);
    border-radius: 1.2rem;
    font-size:small;
    padding-left: 0.1rem;
    padding-right: 0.5rem;
    .sup{
      margin-left: -0.5rem;
      margin-right: 0.12rem;
      vertical-align: super;
      font-size:x-small;
      cursor:pointer;

    }
  }
}

input{
    border: 1px solid #e9e9eb;
  // border:none;
    text-overflow: ellipsis;
    white-space: nowrap;
  background-color: inherit;
  outline: none;

// border:1px solid rgba(12, 1, 33, 0.75);
border-radius: .3rem;
        background-color:white ;
padding: .5rem .5rem;
margin: .5rem;
}

.errorchipscontainer{
  display: flex;
  justify-content: center;
  p{
    display: flex;
    margin: 0.1rem;
    background-color: red;
    color: white;
    border: 2px solid red;
    border-radius: 1.2rem;
    font-size:small;
    padding-left: 0.1rem;
    padding-right: 0.5rem;
    .sup{
      margin-left: -0.5rem;
      margin-right: 0.12rem;
      vertical-align: super;
      font-size:x-small;
      cursor:pointer;

    }
  }
}