
.toolbar{
  margin: 0.15rem;
  padding: 0.5rem;
  // border-radius: 0%;
  background-color: white;
  box-shadow: 0.15rem -0.15rem 60px #dce0e6;
  nav{
    display: inline-block;

    li  {
      display: inline-block;
      padding-left: 1rem;
      padding-right: 1rem;
      a{
        text-decoration: none;
        font-size:small;
        color: #133467;
      }

  }
  }

  li + li:before {
    content: "";
    border-left: .015rem black solid;
    padding-left: 1rem;
}

}